.place__paragraphs {
  margin-top: 48px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .place__paragraphs {
    margin-top: 48px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .place__paragraphs {
    margin-top: 0;
  }
}